$bgColor_white: #FDFDFB;

$mainColor_grey: #444240;

$inputColor_beige: #D4B098;

$fontColor_black: #1B1A17;

$fontColor_black_tsn: #1b1a17d1;

$fontColor_black_2: #262421;

$fontColor_white: #ffffff;

$fontColor_grey: #555248;

$fontFooter_white: #FFFFFFBF;

$streak_color: #8B8371;

$font_PlayfairDisplay: 'Playfair Display', serif;

$font_Prata: 'Prata', serif;