@import 'nullstyles';
@import 'variables';
@import 'header';
@import 'main-banner';
@import 'main-card';
@import 'main-slider';
@import 'main-news';
@import 'footer';

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contain{
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 1170px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.main{
    flex: 1 1 auto;
    background-color: $bgColor_white;
}
